/* common share style */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px 18px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.bannar-discreption {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* nav related */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;

    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;

}

/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png) ;
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    background-image: ;
}


.bannar {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannar-content {
    max-width: 500px;
}

.bannar .profile-pic {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}

.bannar-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.bannar-title {
    */ font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* .bannar-title{ */
color: #181818;
font-size: 85px;
font-weight: 700;
line-height: normal;
}

.bannar-discreption {
    margin-bottom: 30px;

}

/* main section styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section styles */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-containar {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
    padding: 1px;
}

#what-i-do-description {
    padding: 30px 150px;
    text-align: center;
}

.section-description {
    text-align: center;
}

/* skill related styles */
.skills-containar {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);


}

.skill-description {
    color: #757575;
}

/* Resume colom styles */
.resume-colom-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}

.resume-container {
    display: flex;
    gap: 50px;

}

.resume-item-discription,
.resume-item-info {
    color: #757575;
}
.resume-item-discription{
    margin-bottom: 20px;
    margin-top: 0;
}
.resume-item-title {
    color: #474747;
    margin-bottom: 10px;
    font-size: 25px;
    
    font-weight: 700;
    
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    text-align: center;
    margin-top: 65px;
    margin-bottom: 130px;
}
/* footer styles */
.footer{
    display: flex;
    gap: 100px;
    padding: 130px 200px;
    margin-top: 110px;
    background-color: #FFF8F3;
}
.footer-colom{
    width: 50%;
}
/* .footer-colom{
    display: flex;
    flex-direction: column;
} */
.contuct .input1, textarea{
    display: block;
    margin-bottom: 26px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

.hide{
    display: none;
}
@media screen and (max-width:576px) {
    .skills-containar, nav, nav > ul, .bannar, .resume-container,
    .about-info-containar, .header, footer{
        flex-direction: column;
    }
    nav > ul{
        gap: 10px;
    }
    .header{
        background-image: none;
    }
    .bannar,
    #what-i-do-description{
        padding: 20px;
    }
    .btn-primary{
        margin-bottom: 15px;
    }
    .footer, .about{
        padding: 10px;
    }
    .footer-colom{
        width: 100%;
    }
    .header{
        background-image: none;
    }
    .bannar .profile-pic{
        width: 100%;
    }
.contuct .input1, textarea{
    width: 80%;
}

}
@media screen and (min-width:576px)and (max-width:960px){
    
}